
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 0.875rem;
    font-family: 'Arimo';
    line-height: 1.5;
    color: white;
    background-color: black;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
.homePage {
    letter-spacing: 1.5px;
    font-family: 'Kanit';
    margin: 0 0 0.75rem 5rem;
    text-transform: capitalize;
    line-height: 1.25;
    font-size: 2.5rem;
    color: white;
}
main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}
nav {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background:rgba(0, 0, 0, 0);
    position: relative;
}
.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}
.nav-toggle {
    font-size: 1.8rem;
    color: white;
    background: transparent ;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    margin-right: 5rem;
}
.nav-toggle:hover {
    color: white;
    transform: rotate(90deg);
}
.shopping-cart {
    background: transparent ;
    border-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
    border: 0px;
    color: white;
}
.storage{
    background: transparent ;
    border-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
    font-style: bold;
    color: white;
}

.links a {
    color: white;
    text-transform: capitalize;
    font-size: 1.2rem;
    line-height: 2.5rem;
    letter-spacing: 0.05rem;
    font-family: 'Montserrat', sans-serif;
    display: block;
    padding: 0.5rem 1rem;
    transition: 0.3s all linear;
}
.links a:hover {
    color: black;
    background: white;
    padding-left: 1.5rem;
}
.social-icon {
    display: none;
}
.links {
    height: 0;
    overflow: hidden;
    transition: 0.2s all linear;
}
.show-links {
    height: 15rem;
}
.background-1 {
    display: flex;
    border: 1px solid white;   
    position: relative;
}
.content-cre {
    display: inline-block;

}
.content-cre h5 {
    margin: 20px 0 0 50px;
    font-size: 40px;
    font-family: 'Montserrat';
}
.content-cre p {
    margin: 20px 0 0 50px;
    font-family:'Roboto',sans-serif;
    font-size: 16px;
}
.myVideo {
    width: 460px; 
    height: 550px;
    margin: -10px 100px;
}

