
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
	overflow: hidden;
}

h1 {
	font-weight: bold;
	margin: 0;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}
.homePage {
	letter-spacing: 1.5px;
    font-family: 'Kanit';
    text-transform: capitalize;
    line-height: 1.25;
    font-size: 2.5rem;
    color: black;
}
/* buttons Sign in-Sign up */
.btn, .ghost {
    border-radius: 5px;
    border: 1px solid black;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    &:hover {
        cursor: pointer;
        transform: translate(-0.05em, -0.05em);
        box-shadow: 0.15em 0.15em;
    }
    &:active {
        cursor: pointer;
        transform: translate(0.05em, 0.05em);
        box-shadow: 0.05em 0.05em;
    }
    &:focus {
        outline: none;
    }
}
/* buttons social network */
.s1 {
    border: 1px solid black;
    border-radius: 4px;
    width: 300px;
    height:50px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    &:hover {
        transform: scale(1.001);
    }
    background-color: transparent;
    margin: 5px;
    &:active {
        transform: scale(0.99);
        border: 1px solid #b2bec3;
    }
}
/* images of social network */
.social {
    margin: 10px auto auto 15px;
}
/* continue with ..... */
.ctn1 {
    margin: 15px auto auto 15px;
    font-size: 15px;
}
/* forgot your password */
.forgot-pw {
	&:hover {
		text-decoration: underline;
		font-style: italic;
		color: #2f3542;
	}
	&:active {
		transform: scale(0.95);
		color: #a4b0be;
	}
}

.form-container form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.form-container input {
    border-radius: 3px;
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 550px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
    /* background: #232526; */
    /* background: -webkit-linear-gradient(to right, #414345, #232526);   */
    background: linear-gradient(to right, #414345, #232526); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}



