@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 0.875rem;
    font-family: 'Arimo';
    line-height: 1.5;
    color: black;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.homePage {
    letter-spacing: 1.5px;
    font-family: 'Alkatra', sans-serif;
    margin: 0 0 0.75rem 5rem;
    text-transform: capitalize;
    line-height: 1.25;
    font-size: 2.5rem;
    color: red;
}
main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}
nav {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background:rgba(0, 0, 0, 0);
    position: relative;
}
.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}
.nav-toggle {
    font-size: 1.8rem;
    color: black;
    background: transparent ;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    margin-right: 5rem;
}
.nav-toggle:hover {
    color: red;
    transform: rotate(90deg);
}
.shopping-cart {
    background: transparent ;
    border-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
    border: 0px;
    color: black;
}
.storage{
    background: transparent ;
    border-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    font-style: bold;
    color: black;
}
.finding{
    background: transparent ;
    border-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    font-style: bold;
    color: black;
}
.searchItem {
    height: 40px;
    border-radius: 4px;
    border: 2px solid black ;
    width: 400px;
}
.links a {
    color: #2f3640;
    text-transform: capitalize;
    font-size: 1.2rem;
    line-height: 2.5rem;
    letter-spacing: 0.05rem;
    font-family: 'Montserrat', sans-serif;
    display: block;
    padding: 0.5rem 1rem;
    transition: 0.3s all linear;
}
.links a:hover {
    background: red;
    padding-left: 1.5rem;
}
.social-icon {
    display: none;
}
.links {
    height: 0;
    overflow: hidden;
    transition: 0.2s all linear;
}
.show-links {
    height: 15rem;
}
.users-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    gap: 5px;
}
.card {
    margin: 1px auto 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 250px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3 ease-in-out;
}
.card:hover {
    background-color: red;
}
.card:active {
    transform: scale(1.04);
}
img {
    width: 200px;
    height: auto;
    border-radius: 4px;
}
h2 {
    font-family: 'Roboto';
    font-style: bold;
}
.mainName {
    font-size: 15px;
    font-family: 'Roboto';
}
.price {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 900;
}

