@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');


*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 0.875rem;
    font-family: 'Arimo';
    line-height: 1.5;
    color: black;
}
body::-webkit-scrollbar {
    display: none;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.homePage {
    letter-spacing: 1.5px;
    font-family: 'Kanit';
    margin: 0 0 0.75rem 5rem;
    text-transform: capitalize;
    line-height: 1.25;
    font-size: 2.5rem;
    color: #1B1464;
}

.navbar {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background:white;
}
.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    width: 1580px;
}
.nav-toggle {
    font-size: 1.8rem;
    color: black;
    background: transparent ;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    margin-right: 5rem;
}
.nav-toggle:hover {
    transform: rotate(90deg);
}
.shopping-cart {
    background: transparent ;
    border-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
    border: 0px;
    color: black;
}
.storage{
    background: transparent ;
    border-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    font-style: bold;
    color: black;
}
/* thanh tìm kiếm */
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}
.input {
    width: 400px;
    height: 40px;
    line-height: 200px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}
.input::placeholder {
    color: #9e9ea7;
}
.input:focus, input:hover {
    outline: none;
    border-color: rgba(14, 5, 8, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(122, 114, 117, 0.1);
}
.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.links a {
    color: #2f3640;
    text-transform: capitalize;
    font-size: 1.2rem;
    line-height: 2.5rem;
    letter-spacing: 0.05rem;
    font-family: 'Montserrat', sans-serif;
    display: block;
    padding: 0.5rem 1rem;
    transition: 0.3s all linear;
}
.links a:hover {
    background: black;
    color: white;
    padding-left: 1.5rem;
}
.social-icon {
    display: none;
}
.links {
    height: 0;
    overflow: hidden;
    transition: 0.2s all linear;
}
.show-links {
    height: 15rem;
}
/* sản phẩm trong store */
.item-in-store {
    margin-top: 40px;
}
.users-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem,1fr));
    grid-template-rows: repeat(auto-fill,minmax(12.5rem,1fr));
    gap: 2px;
    margin: auto;
}
.card {
    height: 250px;
    width: 300px;
    transform: scale(0.98);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .1s;
}
.card:hover {
    background-color: white;
    transform: translateY(-7px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.card:active {
    transform: scale(1.04);
}
img {
    width: 200px;
    height: auto;
    border-radius: 4px;
}
h2 {
    font-family: 'Roboto';
    font-style: bold;
}
.mainName {
    font-size: 15px;
    font-family: 'Roboto';
}
.price {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 900;
}
.login-btn,.signup-btn {
    background: transparent ;
    border-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    font-style: bold;
    border: 1px solid black;
    margin: 4px;
    padding : 5px 8px 5px 8px;
    font-family: 'Roboto', sans-serif;
}
.signup-btn {
    background: #353b48;
    color: white;
}

.signup-btn:hover {
    background-color: black;
}
.login-btn:active,
.signup-btn:active {
    transform: scale(0.9);
}
.login-btn a {
    color: black;
}
.signup-btn a {
    color: white;
}
